<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>
   <extension-point id="statehandler_implementation" name="Statehandler Implementation" schema="schema/statehandler_implementation.exsd"/>
   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated UncertaintyVariationModel -->
      <package
            uri="http://palladiosimulator.org/pcm/UncertaintyVariationModel/v0"
            class="UncertaintyVariationModel.UncertaintyVariationModelPackage"
            genModel="model/UncertaintyVariationModel.genmodel"/>
   </extension>

</plugin>
