<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated UncertaintyVariationModel -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="UncertaintyVariationModel.presentation.UncertaintyVariationModelModelWizardID"
            name="%_UI_UncertaintyVariationModelModelWizard_label"
            class="UncertaintyVariationModel.presentation.UncertaintyVariationModelModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/UncertaintyVariationModelModelFile.gif">
         <description>%_UI_UncertaintyVariationModelModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated UncertaintyVariationModel -->
      <editor
            id="UncertaintyVariationModel.presentation.UncertaintyVariationModelEditorID"
            name="%_UI_UncertaintyVariationModelEditor_label"
            icon="icons/full/obj16/UncertaintyVariationModelModelFile.gif"
            extensions="uncertaintyvariationmodel"
            class="UncertaintyVariationModel.presentation.UncertaintyVariationModelEditor"
            contributorClass="UncertaintyVariationModel.presentation.UncertaintyVariationModelActionBarContributor">
      </editor>
   </extension>

</plugin>
